.main {
}

.newForm{
    
}

.addButton{
    margin-top: 2rem;
}
.addButton button{
    border-radius: 5px;
    border: none;
    background-color: #385dff;
    display: block;
    margin: 0px;
    padding: 0px;
    width: 5rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.addButton button:hover{
    background-color: #4d88ff;
}
